<form action="{{ route('UserController.secret') }}" method="POST">
    {{ csrfField() }}

    <div class="form-group mb-4">
        <input id="password" class="form-control" placeholder="Password"
                type="password" name="password">
    </div>

    <button class="btn btn-primary mb-4" type="submit">
        <div class="col-12">
            Connexion
        </div>
    </button>

</form>